# osx specific
alias turnoffautoswitch="defaults write com.apple.dock workspaces-auto-swoosh -bool NO && killall Dock"

# misc
alias cls=clear
alias vi=nvim
alias r-tmux=tmux source-file ~/.tmux.conf

# dev tools 
alias kc=kubectl
alias dr=docker
alias drc=docker-compose
alias tf=terraform
