alias turnoffautoswitch="defaults write com.apple.dock workspaces-auto-swoosh -bool NO && killall Dock"
alias cls=clear

alias sso-login="aws sso login --profile sso-hf-it-developer"
alias sso-dr-login="aws ecr get-login-password --region eu-west-1 --profile sso-hf-it-developer | docker login --username AWS --password-stdin https://489198589229.dkr.ecr.eu-west-1.amazonaws.com"

alias gca="git commit -v -a -m"
alias rcs="code ~/001-resource"


alias kc=kubectl
alias dr=docker
alias drc=docker-compose

alias tf=terraform

alias vpnsetup="sudo openvpn --config /etc/openvpn/client.conf"
alias vpn="sudo openvpn --config ~/.config/openvpn/client.ovpn --auth-user-pass ~/.vpn-auth"

alias vpn3-on="cat ~/.vpn-auth | openvpn3 session-start -c ~/.config/openvpn/client.ovpn"
alias vpn3-off-single="openvpn3 session-manage --disconnect --session-path $(openvpn3 sessions-list | grep -i path | awk '{print $2}')"
alias vpn3-off="openvpn3 sessions-list | grep -i path | awk '{print $2}'| xargs -n 1 openvpn3 session-manage --disconnect --session-path"

alias vi=nvim
alias r-tmux=tmux source-file ~/.tmux.conf

